* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --header-bg-color: black;
    --main-font-color: #39a6b2;
    --section-color: 15px; /*TBD*/
  }
  
 /* Header */

  header {
    padding: 20px 35px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--main-font-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header a {
    text-decoration: none;
    color: var(--main-font-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  /* Hero image */

  .hero {
    width: 100vw;
    display: flex; /*should this be inline */
    background-color: darkgray;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Set border around text */

  .borderstyle {
    padding = 2px 6px 4px 6px;
    color: var(--main-font-color);
    background-color: lightgray;
    border: #dddddd 2px solid; 
   }

  a {
      font-family: Arial, Helvetica, sans-serif;
  }

  .software-title {
    padding = 2px 6px 4px 6px;
    color: var(--main-font-color);
    background-color: lightgray;
    border: #dddddd 2px solid;
    font-family: Arial, Helvetica, sans-serif; 
}

 /* Set flex */ 

 .flex-row {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

 /* Section Titles */

 .section-title {
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* Grid */

 .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .two { 
    grid-column: 3;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 2;
  }
  .four {
    grid-column: 1;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 3;
  }

 /* Contact section */ 

.contactsection p {
    display: inline;
    justify-content: space-around;
    font-size: 20px;
}
  